<h2>Edit "<%= @ingredient.name() %>"</h2>

<form action="/ingredients/<%= @ingredient.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= @ingredient.name() %>">
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="text" name="quantity" id="quantity" value="<%= @ingredient.quantity() %>">
  </div>
  <div>
    <label for="portion_size">Portion Size:</label>
    <input type="text" name="portion_size" id="portion_size" value="<%= @ingredient.portion_size() %>">
  </div>

  <button class="btn" type="submit">Edit Ingredient</button>
</form>
