<h2>Recipes</h2>
<div class="row">
  <% if @recipes.any?() %>
    <% @recipes.each() do |recipe| %>
      <div class="col s6">
        <div class="card grey lighten-4 hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%= url('img/pancakes.jpeg') %>" alt="A big yacht" />
            <span class="card-title activator"></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              <a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a>
              <i class="material-icons right">close</i>
            </span>
            <p>Prep Time: <%= recipe.prep_time() %></p>
            <p>Cook Time: <%= recipe.cook_time() %></p>
            <hr>
            <br>
            <div class="row">
              <div class="col s6">
                <form class="right" action="/recipes/<%= recipe.id() %>" method="post">
                  <input name="_method" type="hidden" value="delete">
                  <button class="btn-large red" type="submit">Delete <i class="material-icons">delete</i></button>
                </form>
              </div>
              <div class="col s6">
                <a class="left amber btn-large" href="/recipes/<%= recipe.id() %>/edit">Edit <i class="material-icons">edit</i></a>
              </div>
            </div>
          </div>
          <div class="card-action valign-wrapper">
            <h5><%= recipe.name() %></h5>

          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h4>You do not have any recipes. <i class="material-icons">thumb_down</i></h4>
  <% end %>
</div>

<a class="btn deep-purple darken-3" href="/recipes/new">Add a New Recipe</a>
