<form class="" action="/recipes/<%= @recipe.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= @recipe.name() %>">
  </div>

  <div class="">
    <label for="prep_time">Prep Time:</label>
    <input type="text" name="prep_time" id="prep_time" value="<%= @recipe.prep_time() %>">
  </div>

  <div class="">
    <label for="cook_time">Cook Time:</label>
    <input type="text" name="cook_time" id="cook_time" value="<%= @recipe.cook_time() %>">
  </div>

  <div class="">
    <label for="instructions">Instructions:</label>
    <input type="text" name="instructions" id="instructions" value="<%= @recipe.instructions() %>">
  </div>

  <div class="">
    <h4>Add a tag to this recipe:</h4>
    <% @tags.each() do |tag| %>
      <input type="radio" name="<%= tag.id() %>" id="<%= tag.id() %>" value="<%= tag.id() %>">
      <label for="<%= tag.id() %>"><%= tag.name() %></label>
    <% end %>
  </div>

  <button class="btn" type="submit" name="button">Edit Recipe</button>
</form>
